{{ define "reviews/create.html" }}
{{ template "globals/header.html" . }}
{{ template "globals/main-nav.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{{ .pageData.Title }}</h2>
            <hr>
            <div>
                {{ if .pageData.Message }}
                <div class="alert alert-danger" role="alert">
                    {{ .pageData.Message }}
                </div>
                {{ end }}
                {{ if .pageData.Errors }}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {{ range $key, $value := .pageData.Errors }}
                        <li>{{ $value.Error }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
                <form action="/reviews/new" method="post">
                    <input type="hidden" name="CSRF" value="" />
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ .reviewForm.Title }}">
                    </div>
                    <div class="mb-3">
                        <label for="review_type" class="form-label">Type</label>
                        <select class="form-control" id="review_type" name="review_type">
                            <option value="">Select one type ...</option>
                            <option value="SystematicReview" {{ if eq .reviewForm.ReviewType "SystematicReview" }} selected {{ end }}>Systematic Review</option>
                            <option value="ScopingReview" {{ if eq .reviewForm.ReviewType "ScopingReview" }} selected {{ end }}>Scoping Review</option>
                            <option value="RapidReview" {{ if eq .reviewForm.ReviewType "RapidReview" }} selected {{ end }}>Rapid Review</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="start_date" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ .reviewForm.StartDate }}">
                    </div>
                    <div class="mb-3">
                        <label for="end_date" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ .reviewForm.EndDate }}">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark btn-sm">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ template "globals/footer.html" . }}
{{ end }}