{{ define "organizations/index.html" }}
{{ template "globals/header.html" . }}
{{ template "globals/main-nav.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <h2>{{ .pageData.Title }}</h2>
                <a href="/organizations/new" class="btn btn-dark btn-sm">New Organization</a>
            </div>
            <hr>
            <div>
                {{ if .pageData.Message }}
                <div class="alert alert-danger" role="alert">
                    {{ .pageData.Message }}
                </div>
                {{ end }}

                {{ if .organizations }}
                <div class="row">
                    {{ range .organizations }}
                    <div class="col-md-12">
                        <div class="card mb-12">
                            <div class="card-body">
                                <h5 class="card-title">{{ .Name }}</h5>
                                <p class="card-text">{{ .Description }}</p>
                                <a href="/organizations/{{ .Id }}" class="btn btn-dark btn-sm stretched-link">Go to organization</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ else }}
                <div class="alert alert-info" role="alert">
                    No organizations found.
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</div>
{{ template "globals/footer.html" . }}
{{ end }}